:root {
  --color-light: #FBFAF5;
  --color-primary: #0E1111;
  --color-secondary: #AA0000;
}

body, html {
  background-color: var(--color-light);
}

/* header styling */
.header {
  width: 100%;
  background-image: url(./assets/images/chalkboard.jpg);
  color: var(--color-light);
}

.header-title {
  margin: 0;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-style: italic;
}

.header-title a {
  color: var(--color-light);
  text-decoration: none;
}

.txt-secondary-color {
  color: var(--color-secondary);
}
/* end header styling */

/* hero styling */
.hero {
  height: 50vh;
  background-image: url(./assets/images/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 45%;
  border-top: 8px solid var(--color-primary);
  border-bottom: 8px solid var(--color-primary);
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-style: italic;
  font-size: 3rem;
  border-bottom: 5px solid var(--color-light);
  border-radius: 5px;
  padding: 1rem;
  margin: 0;
  width: 40vw;
  text-align: center;
}
/* end hero styling */